@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Source Code Pro", sans-serif;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.blood-blue-gradient {
  background: "#EB455F";
  background: linear-gradient(90.13deg, #EB455F 1.9%, #2B3467 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #EB455F 1.9%, #2B3467 97.5%);
}

.rose-sky-gradient {
  background: "#E78EA9";
  background: linear-gradient(90.13deg, #E78EA9 10.9%, #028995 67.5%);
  background: -webkit-linear-gradient(-90.13deg, #E78EA9 10.9%, #028995 67.5%);
}

